@import '../styles/variables';

html {
  font-size: 12px;
}

body {
  font-family: $fontStandard;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  text-rendering: optimizeLegibility;
}
