@import '../../styles/variables';

.App {
  background-color: $subtle;
  box-sizing: border-box;
  height: 100%;
  overflow-x: clip;
  overflow-y: hidden;
  padding: 0 10px;
  width: 100vw;

  &__main {
    display: flex;
    padding-top: 55px; // Header height
  }
}
