@import '../../styles/mixin';
@import '../../styles/variables';

.Header {

  @include box-shadow-sm;
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: calc(100% - 20px);

  &__hidden-text {
    @include visually-hidden;
  }

  &__logo-image {
    height: 35px;
    padding: 10px;
    vertical-align: top;
  }
}
